/* page de fonds */

.home1 {
  background: url(../image/home1.jpg);
  background-position: center;
  height: 100%;
  padding: 1px;
  background-size: cover;
}

.info-game h2 {
  border-radius: 30px;
  padding: 20px 40px 20px 20px;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  font-size: 30px;
  font-weight: 300;
  color: #f1f1f1;
  border: 1px solid black;
  text-transform: uppercase;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 92px #0fa, 0 0 151px #0fa;
  box-shadow: 0 0 10vw #7476ff, 0 0 2vw 0.4vw #0408fb,
    inset 0 0 0.5vw 0.2vw #7476ff, inset 0 0 0.2vw 0.2vw #3134ff,
    inset 0 0 0.25vw 0.2vw #0408fb;
}

.infox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: auto;
  padding-top: 40px;
}

.infox p {
  font-size: 20px;
  text-align: justify;
  padding-left: 20px;
}

/* info du jeu */

.sommaire h3 {
  border-radius: 30px;
  padding: 50px 70px 70px 100px;
  font-size: 30px;
  font-weight: 300;
  color: #f1f1f1;
  border: 1px solid black;
  text-transform: uppercase;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 92px #0fa, 0 0 151px #0fa;
  box-shadow: 0 0 10vw #7476ff, 0 0 2vw 0.4vw #0408fb,
    inset 0 0 0.5vw 0.2vw #7476ff, inset 0 0 0.2vw 0.2vw #3134ff,
    inset 0 0 0.25vw 0.2vw #0408fb;
}

.info-jeu h4 {
  background-color: #7476ff;
}
.info-jeu {
  padding: 20px 10px;
}

.info-jeu ul {
  list-style: none;
  font-size: 20px;
}

.info-jeu p {
  font-size: 20px;
  text-align: justify;
}

/* button */

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  padding: 20px 15px;
  z-index: 0;
  border-radius: 10px;
  text-decoration: none;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* button 2 */

.glow-on-hover1 {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  padding: 20px 40px;
  z-index: 0;
  border-radius: 10px;
  text-decoration: none;
  margin: 50px 20px;
}

.glow-on-hover1:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover1:active {
  color: #000;
}

.glow-on-hover1:active:after {
  background: transparent;
}

.glow-on-hover1:hover:before {
  opacity: 1;
}

.glow-on-hover1:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button {
  height: 20vh;
  padding: 50px;
}

/* version mobile */

@media screen and (max-width: 992px) {
  .infox {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
}

@media screen and (max-width: 420px) {
  .info-game h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 464px) {
  .button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 464px) {
  p {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
